/* IMPORTAR VARIABLES Y ESTILOS BASE */
@import url("style.css");

/* MAIN */

/* HERO SECTION */

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6);
  pointer-events: none !important;
  user-select: none;
}

.hero-content {
  position: relative;
  color: var(--blanco-puro);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1rem;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  animation: entrarDerecha 1s ease-out;
}

.hero-content h1 img {
  width: 65px;
  height: auto;
  vertical-align: middle;
  margin: 0 3px;
}
.hero-content p {
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
  animation: entrarDerecha 1s ease-out;
}

.btn-hero {
  display: inline-block;
  background: var(--rojo-vino);
  color: var(--blanco-puro);
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
  box-shadow: 0 8px 20px var(--sombra-morada);
  animation: entrarDerecha 1.6s ease-out;
}

.btn-hero:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px var(--sombra-morada);
}

/* SEC 1 */

.sec {
  padding: 3rem 2rem;
  text-align: center;
}

.sec h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--rojo-vino);
  position: relative;
}

/* SECCION CARACTERISTICAS */

.section-carac {
  padding: 0.5rem 2rem;
  background: var(--blanco-principal);
}

.section-carac h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--rojo-vino);
  position: relative;
}

.carac-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  column-gap: 15rem;
  max-width: 1500px;
  margin: 0 auto;
}

.container-carac {
  background: var(--blanco-puro);
  padding: 2.5rem;
  border-radius: 20px;
  border-left: 5px solid var(--rojo-vino);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.container-carac:hover {
  box-shadow: 0 8px 20px var(--rosa-chicle);
  transform: scale(1.02);
}

.container-carac h3 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  color: var(--rojo-vino);
}

.container-carac p {
  text-align: center;
  color: var(--gris-texto);
  font-size: 1rem;
}

/* SECCION PRODUCTOS */

.section-prod {
  padding: 3rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

.section-prod h2 {
  grid-column: 1 /-1;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--rojo-vino);
  position: relative;
}

.container-prod {
  padding: 2.4rem;
  background: var(--blanco-puro);
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.container-prod:hover {
  box-shadow: 0 8px 20px var(--rosa-chicle);
  transform: scale(1.02);
}

.container-prod h3 {
  text-align: center;
  font-size: 25px;
  color: var(--rojo-vino);
  margin-bottom: 1rem;
}

.container-prod p {
  text-align: center;
  color: var(--gris-texto);
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.container-prod .btn-prod {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 40%;
}

.img-prod {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 250px;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--blanco-puro);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.img-prod:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--rosa-chicle);
  transform: scale(1.02);
}

.img-prod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.btn-prod {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  background: var(--rojo-vino);
  color: var(--blanco-puro);
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px var(--sombra-morada);
}

.btn-prod:hover {
  transform: translateY(-3px);
}

/* SECCION UBICACIÓN */

.section-ubi h2 {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 2.3rem;
  color: var(--rojo-vino);
  position: relative;
}

.container-ubi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
  border-radius: 30px;
}

.container-ubi h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--rojo-vino);
  margin-bottom: 1rem;
}

.btn-ubi {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2.3rem;
  background: var(--rojo-vino);
  color: var(--blanco-puro);
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px var(--sombra-morada);
}

.btn-ubi:hover {
  transform: translateY(-3px);
}

.container-ubi iframe {
  width: 90%;
  max-width: 900px;
  height: 500px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  border: 4px solid var(--rojo-vino);
  transition: all 0.3s ease;
}

.container-ubi iframe:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px var(--sombra-morada);
}

/* RESPONSIVE DESIGN */

/* Tablets */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .sec h2,
  .section-carac h2,
  .section-prod h2 {
    font-size: 2.2rem;
  }

  .carac-grid {
    gap: 2rem;
    column-gap: 5rem;
  }

  .section-prod {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .container-ubi iframe {
    height: 400px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .hero {
    margin-top: 0;
    padding-top: 70px;
    height: 100vh;
  }

  .bg-video {
    top: 0;
    height: 100vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h1 img {
    width: 45px;
  }

  .hero-content p {
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem;
  }

  .btn-hero {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .sec {
    padding: 2rem 1rem;
  }

  .sec h2,
  .section-carac h2,
  .section-prod h2,
  .section-ubi h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .section-carac {
    padding: 0.5rem 1rem;
  }

  .carac-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    column-gap: 0;
  }

  .container-carac {
    padding: 1.5rem;
  }

  .container-carac h3 {
    font-size: 20px;
  }

  .container-carac p {
    font-size: 1rem;
  }

  .section-prod {
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  .container-prod {
    padding: 1.5rem;
  }

  .container-prod h3 {
    font-size: 20px;
  }

  .container-prod p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .img-prod {
    width: 200px;
    height: 250px;
  }

  .btn-prod {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }

  .container-ubi {
    padding: 1.5rem 1rem;
    margin: 2rem 1rem;
  }

  .container-ubi h3 {
    font-size: 1.2rem;
  }

  .container-ubi iframe {
    width: 100%;
    height: 350px;
    border-width: 3px;
  }

  .btn-ubi {
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.6rem;
  }

  .hero-content h1 img {
    width: 35px;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .sec h2,
  .section-carac h2,
  .section-prod h2,
  .section-ubi h2 {
    font-size: 1.5rem;
    margin: 0px 15px;
  }

  .container-carac,
  .container-prod {
    padding: 1.2rem;
    margin-top: 5px;
  }

  .container-carac h3,
  .container-prod h3 {
    font-size: 1.1rem;
  }

  .img-prod {
    width: 180px;
    height: 220px;
  }

  .container-ubi iframe {
    height: 300px;
  }
}
