.rrss-btn.instagram {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.rrss-btn.facebook {
  background-color: #1877f2;
}

.rrss-btn.tiktok {
  background-color: #010101;
}

.btn-form:disabled {
  opacity: 0.55;
  cursor: not-allowed;
  pointer-events: none;
}
